
label {
    display: block;
    margin-top: 5px;
}

form label {
    font-weight: bold;
}

span {
    font-weight: bold;
}

input {
}

label span {
    word-wrap: break-word;
}

input,
button {
    font-size: 24px !important;
}