@font-face {
    font-family: 'SourceSansPro';
    src: url('../otf/SourceSansPro-Regular.otf');
}

.text {
    -fx-font-family: "SourceSansPro";
}
.button, .toggle-button, .check-box, .radio-button, .label, .tab-pane, .text-field {
    -fx-font-size: 14;
    -fx-line-spacing: -5;
}

.button {
    -fx-border-color: #00000000;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.toggle-button {
    -fx-border-color: #00000000;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.toggle-button:selected {
    -fx-background-color: #00bfff3f;
    -fx-border-color: #00bfffff;
    -fx-border-radius: 10;
}

/* TableView row header style definition */
.table-view .column-header .label {
    -fx-font: normal 14 "SourceSansPro";
}

/* Disable highlight for selected row in a TableView */
.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}

/* Set the row height for TableViews. */
.table-row-cell {
    -fx-cell-size: 28px;
}

.header-label {
    -fx-font-size: 24;
    -fx-line-spacing: -5;
}