@font-face {
    font-family: 'SourceSansPro';
    src: url('../otf/SourceSansPro-Regular.otf');
}

.text {
    -fx-font-family: "SourceSansPro";
}
.button, .toggle-button, .check-box, .label, .tab-pane {
    -fx-font-size: 16;
    -fx-line-spacing: -5;
}